<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roachcitysoftware.goldenkey">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gk_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructionsActivity"
            android:label="@string/title_activity_instructions"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.roachcitysoftware.goldenkey.action.instructions" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roachcitysoftware.goldenkey.MainActivity" />
        </activity>
        <activity
            android:name=".BuildListActivity"
            android:label="@string/title_activity_build_list"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.roachcitysoftware.goldenkey.action.build_list" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roachcitysoftware.goldenkey.MainActivity" />
        </activity>
        <activity
            android:name=".PracticeActivity"
            android:label="@string/title_activity_practice"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.roachcitysoftware.goldenkey.action.practice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roachcitysoftware.goldenkey.MainActivity" />
        </activity>

        <provider
            android:name=".BlessingProvider"
            android:authorities="com.roachcitysoftware.goldenkey.BlessingProvider"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ReminderService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.roachcitysoftware.goldenkey.action.REMINDER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>